<div class="header bg-gradient-danger pb-8 pt-5  pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

<!-- Page content -->
<div class="container-fluid mt-5 mb-3">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">List of Forms</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr >
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Photo</th>
                <th scope="col"></th>

         
              </tr>
            </thead>
            <tbody>
             
              <tr class="table-row" *ngFor="let form of forms" >
                
                <th scope="row">
                  <div class="media align-items-center">
                    
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{form.id}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{form.name}}
                </td>
                <td>
                  {{form.description}}
                 
                </td>
                <td class="ml-2">
                 
               <img class="image-sm" [src]="form.picture" /> 
             
                </td>
               <td><app-modal [title]="form.name" [data]="form"></app-modal></td>
         
              </tr>
             
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">

        </div>
      </div>
    </div>
  </div>
  
   
      </div>
    </div>
  </div>
</div>
