.table-row{
  
    
    &:hover{
        background-color: #f6f9fc;
        cursor: pointer;
    }
}

.lastModified{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.image-sm{
    width : 70px;
    height:60px
}