<ng-template #content let-modal>
	<div class="modal-header ">
		<h4 class="modal-title" id="modal-basic-title">{{title}} update</h4>
        <i class="ni ni-fat-remove btn-icon" (click)="modal.dismiss('Cross click')"></i>
	
	</div>
	<div class="modal-body">
		<form [formGroup]="form">
			<ng-container class="input-group input-group-alternative" *ngFor="let item of model" >
 
                <div class="" *ngIf="item.type != 'file'">
                  <label *ngIf="item.type != 'radio'" class="text-bold "> {{item.label || ""}} <br/></label>
                     <input [ngClass]="{'form-check-input ml-2' : item.type == 'radio', 'form-control' : !(item.type == 'radio')}" 
                      [placeholder]="item['placeholder']" [type]="item['type']" [name]="item['name']" [formControlName]="item['name']" #check [checked]="item['label'] == 'Available' ? check.value : !check.value ">
                <label *ngIf="item.type == 'radio'" class="text-sm ml-4"> {{item.label || ""}}</label>
                </div>

                <div *ngIf="item.type == 'file'">
                  <label class="text-bold "> {{item.label || ""}} <br/></label><br/>
                  <div class="container">
                    <div class="custom-file" id="customFile">
                        <input #photo  type="file" name="photo" formControlName="photo" class="custom-file-input" >
                        <label class="custom-file-label">
                         {{photo.value || data.photo.fileName}}
                        </label>

                   
                    </div>
                </div>
                
                  
        
                </div> 

                <!--<div *ngIf="form.get(item['name']).touched" > 
                  <div >
                  <small *ngIf="(form.get(item['name']).errors.required)"  class="text-danger">{{item['name']}} is required</small> 

                </div>
                </div>-->
                <br/>
              </ng-container>
             
            


           <!-- <div *ngFor="let data of formData; let i =  index " [ngClass]="{'form-check' : data.isBox, 'form-group' : !data.isBox}" >
    
                <label class="text-bold" *ngIf="!data.isBox" [for]="i">{{data.label }} :</label>
                <input [(ngModel)]="data.value"  name="flexRadioDefault"  
				[ngClass]="{'form-check-input' : data.isBox, 'form-control' : !data.isBox}" 
                [value]="data.value" [id]="i" [placeholder]="data.placeholder" [type]="data.type" 
				[checked]="data.checked" [required]="data.required" >
		
                <label *ngIf="data.isBox" class="form-check-label" [for]="i">{{data.boxLabel}}</label>
			
            </div>-->
			
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" [disabled]="form.invalid" class="btn btn-dark" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>

<button class="btn btn-outline-primary" (click)="open(content)">Open</button>

